In [2]:
"this is string" #create a string

'this is string'

In [3]:
my_str = 'string in single quotes'  #single quotes can be used around characters

In [4]:
my_str

'string in single quotes'

In [5]:
my_str2 = "string in single quotes"  #double quotes can be used around characters

In [6]:
my_str3 = """string is spread 
acroos multiple lines"""  #triple quotes can be used to create multi line strings

In [7]:
type(my_str)  #use type to check the type of string variable

str

In [8]:
string_with_spaces = " x y 1 2 3 " #string can have spaces in it

In [9]:
string_with_spaces

' x y 1 2 3 '

In [10]:
string_with_special_characters = "#$%@"

In [11]:
string_with_special_characters

'#$%@'

In [14]:
empty_string = '    '  #empty string has nothing in it

In [15]:
empty_string

'    '

In [18]:
len('this is string')

14

In [19]:
len(empty_string)  #len can be use to determine the length of string

4

In [20]:
len(my_str)

23

In [25]:
my_str + " string are useful"

'string in single quotes string are useful'

In [29]:
my_str + " "+ my_str2 # string concatenation

'string in single quotes string in single quotes'

In [32]:
(my_str+ " " ) * 3 #string repetition

'string in single quotes string in single quotes string in single quotes '

In [36]:
'#'*20

'####################'

In [37]:
my_string = 'this is my string'

In [38]:
my_string[0]   # accessing first character of string

't'

In [39]:
my_string[4]

' '

In [41]:
length = len(my_string)  #accessing last character of string, gives error as index has to be one less than length of string
my_string[length]

IndexError: string index out of range

In [44]:
length1 = "this my string 2"
length1[2]

'i'

In [45]:
length = len(my_string)
my_string[length - 1]

'g'

In [46]:
my_string[-1] # accessing last character of string using negative indexing

'g'

# slicing operation

In [47]:
my_string = 'this is my string'

In [51]:
my_string[ : ]  # extracts complete string

'this is my string'

In [52]:
my_string[ 0 : 4 ]  # extracts first three characters of string

'this'

In [53]:
my_string[ 5 : 10 ]  # extracts fifth to ninth character of string

'is my'

In [54]:
my_string[ 3 :  ]  # extract all characters of string from third character onwards

's is my string'

In [56]:
my_string[  : 7 ]  # extracts first four characters of string

'this is'

In [59]:
my_string[ 0 : 10 : 2] # from first to nineth character, extract every second character

'ti sm'

In [60]:
my_string

'this is my string'

In [61]:
my_string[-5 : ] # extract last five characters of string

'tring'

In [65]:
my_string[-5 : -2 ]

'tri'

# Escape Sequences

In [67]:
print(" Python is beautiful! \n I love Python!" )   #The output is given by a new line

 Python is beautiful!
 I love Python!

In [68]:
print(" Python is beautiful! \t I love Python!" ) # back slash "t" represents a tab

 Python is beautiful! 	 I love Python!

In [72]:
print(" Python is beautiful! \\ I love Python!" )  # to place a back slash in your string, use a double back slash

 Python is beautiful! \ I love Python!

# The in operator

In [73]:
my_string = "this is string"

In [74]:
'i' in my_string   #check whether i is present in string

True

In [75]:
'z' in my_string

False

In [76]:
'i' not in my_string # check whether is is not present in string

False

In [77]:
'z' not in my_string

True

In [78]:
'this' in my_string

True

In [79]:
'this' not in my_string

False

# Immutability

In [82]:
my_string = "this is my string"

In [83]:
my_string[0] = 'p'   # not allowed, as strings are immutable i.e. can not be modified

TypeError: 'str' object does not support item assignment

In [84]:
my_string = 'this is new string'  
# You can assign some different value to the string variable but its currently assigned value can not be changed

In [89]:
my_string = "this is my string"

first_char = 'p'                   
my_new_string = first_char +  my_string[1:10] # concat the part to be changed to the remaining part of string

print("Original string ----> ", my_string)
print("Modified string ----> ", my_new_string)

Original string ---->  this is my string
Modified string ---->  phis is my

# looping

In [90]:
my_string = "python is beautiful!"

In [91]:
for string in my_string:
     print(string)

p
y
t
h
o
n

i
s

b
e
a
u
t
i
f
u
l
!

In [142]:
for i in range(len(my_string)):
     print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [93]:
range(len(my_string))

range(0, 20)

In [124]:
for i in range(len(my_string)):
    print("->", i, "=", my_string[i])

-> 0 = p
-> 1 = y
-> 2 = t
-> 3 = h
-> 4 = o
-> 5 = n
-> 6 =
-> 7 = i
-> 8 = s
-> 9 =
-> 10 = b
-> 11 = e
-> 12 = a
-> 13 = u
-> 14 = t
-> 15 = i
-> 16 = f
-> 17 = u
-> 18 = l
-> 19 = !

In [144]:
user_string = input('Plase enter the string\n')

print("Length of string----> ", len(user_string))
print(" ")

Plase enter the string
jashmin
Length of string---->  7

In [146]:
print("String repeated 5 times ----> ", (user_string+" ") * 5)

String repeated 5 times ---->  jashmin jashmin jashmin jashmin jashmin

In [147]:
print("First character of string----> ", user_string[0])
print("Last character of string----> ", user_string[-1])

First character of string---->  j
Last character of string---->  n

In [148]:
print("First three characters of string----> ", user_string[ 0 : 3 ])
print("Last three characters of string----> ", user_string[ -3 : ])

First three characters of string---->  jas
Last three characters of string---->  min

In [149]:
print("String reversed ---->", user_string[ : : -1])

String reversed ----> nimhsaj

In [150]:
new_string = user_string[ 0 : len(user_string) - 2]


print("Original string ---->", user_string)
print("Modified string ---->", new_string)

Original string ----> jashmin
Modified string ----> jashm

In [152]:
print("String reversed ---->", user_string[0:6])

String reversed ----> jashmi