In [1]:
list_items = ["hello",55,67.53,'a',45,"anand","India",34.567,98,True,False]

In [2]:
list_items

['hello', 55, 67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False]

In [4]:
list_items.replace(2,"FSDA")

AttributeError: 'list' object has no attribute 'replace'

In [5]:
list_items[2] = "FSDA" #3 LIST ITEMS ARE MUTABLE I.E I CAN change the elemnts present at any particular index

In [6]:
list_items

['hello', 55, 'FSDA', 'a', 45, 'anand', 'India', 34.567, 98, True, False]

In [7]:
list_items[6] = "Full stack"

In [8]:
list_items

['hello', 55, 'FSDA', 'a', 45, 'anand', 'Full stack', 34.567, 98, True, False]

In [9]:
## hot favourite question asked in interviw : diufference between append and extend

# Extent Function

In [10]:
s = [1,2,3,4,5,6]

In [11]:
s

[1, 2, 3, 4, 5, 6]

In [12]:
s.append([5,4,5,6,7]) ## wraps up the elements as it is gets added at the end of the list

In [13]:
s

[1, 2, 3, 4, 5, 6, [5, 4, 5, 6, 7]]

In [14]:
s.extend([6,7,8,"dss"]) ##add elements individually and not together unlike append

In [15]:
s

[1, 2, 3, 4, 5, 6, [5, 4, 5, 6, 7], 6, 7, 8, 'dss']

In [17]:
s.extend([99])

# index functoin

In [18]:
s

[1, 2, 3, 4, 5, 6, [5, 4, 5, 6, 7], 6, 7, 8, 'dss', 99]

In [24]:
s.index(4)  ## always pick the first occurence

3

In [26]:
s.index("dss")

10

In [29]:
s.index(6)

5

# Revers function

In [30]:
list_items_rev = list_items[::-1]

In [31]:
list_items_rev

[False, True, 98, 34.567, 'Full stack', 'anand', 45, 'a', 'FSDA', 55, 'hello']

In [35]:
list_items.reverse()

In [36]:
list_items

['hello', 55, 'FSDA', 'a', 45, 'anand', 'Full stack', 34.567, 98, True, False]

In [37]:
## if you want to sort the functions 
list_items2 = ["anand","anil","yash","Anushka"]

In [38]:
list_items2

['anand', 'anil', 'yash', 'Anushka']

In [39]:
print(list_items2.sort(reverse = True))

None

In [40]:
print(sorted_items)

NameError: name 'sorted_items' is not defined

In [41]:
list_items_rev

[False, True, 98, 34.567, 'Full stack', 'anand', 45, 'a', 'FSDA', 55, 'hello']

In [42]:
print(list_items2.sort())

None

# short fucntion

In [43]:
list_items2.sort()

In [44]:
list_items2

['Anushka', 'anand', 'anil', 'yash']

In [45]:
list3 = ["mayuri", "jasmine", "aarti", "nikita"]

In [47]:
list3.sort()

In [48]:
list3

['aarti', 'jasmine', 'mayuri', 'nikita']

In [49]:
sorted_items_asc = list3.sort()  # 3 reassignment for sort doesnt work

In [50]:
sorted_items_dsc = list3.sort(reverse = True) #3 reassignment for sort doesnt work

In [52]:
print(list3)

['nikita', 'mayuri', 'jasmine', 'aarti']

In [54]:
list3

['nikita', 'mayuri', 'jasmine', 'aarti']

In [56]:
lis_copy = list3.copy()

In [57]:
lis_copy

['nikita', 'mayuri', 'jasmine', 'aarti']

In [58]:
list3

['nikita', 'mayuri', 'jasmine', 'aarti']

In [59]:
list_items_numbers = [34,5,2,87,12,11,98,22]

In [60]:
sorted(list_items_numbers)

[2, 5, 11, 12, 22, 34, 87, 98]

In [62]:
sorted(list_items_numbers, reverse = True)

[98, 87, 34, 22, 12, 11, 5, 2]

In [63]:
list_items_numbers ## origina;l one remains intact

[34, 5, 2, 87, 12, 11, 98, 22]

In [75]:
rev_list = list(reversed(list_items_numbers)) #3 need retypecasting to integer for it to woprk

In [77]:
rev_list2 = (reversed(list_items_numbers))

In [78]:
print(rev_list)

[22, 98, 11, 12, 87, 2, 5, 34]

In [86]:
list3.count()

TypeError: list.count() takes exactly one argument (0 given)

In [90]:
list4 = [2,3,5,7,9,11,13,17,19,21]

In [91]:
list4.pop(5)

11

In [92]:
list4

[2, 3, 5, 7, 9, 13, 17, 19, 21]

In [93]:
print("This", "is", "first", "line")

This is first line

In [94]:
print("This,", "is,", "first,", "line")

This, is, first, line

In [101]:
print("This", "is", "first", "line", sep= " $ ")

This $ is $ first $ line

In [102]:
print("this is first line")
print("this is second line")

this is first line
this is second line

In [105]:
print("this is first line", end='.')
print("this is second line")

this is first line.this is second line

In [106]:
*
**
***
****
*****

SyntaxError: invalid syntax (3310241707.py, line 1)

In [116]:
### i is for number of rows
for i in range(4,8):
    for j in range(0,i+1): ## j is for number of columns
        print("#",end="  * ")
    print("\n")   ## line after each line

#  * #  * #  * #  * #  *

#  * #  * #  * #  * #  * #  *

#  * #  * #  * #  * #  * #  * #  *

#  * #  * #  * #  * #  * #  * #  * #  *

In [129]:
list_1 = [1,2,3,4,5,6,7,8,9]
list_2 = ["a","b","c"]

In [137]:
for i in list_1:
    for j in list_2:
        print(j+"1", end=" * ")
    print(i, i+1, i+2, "\n")

a1 * b1 * c1 * 1 2 3

a1 * b1 * c1 * 2 3 4

a1 * b1 * c1 * 3 4 5

a1 * b1 * c1 * 4 5 6

a1 * b1 * c1 * 5 6 7

a1 * b1 * c1 * 6 7 8

a1 * b1 * c1 * 7 8 9

a1 * b1 * c1 * 8 9 10

a1 * b1 * c1 * 9 10 11

In [138]:
a = input('What is your name?')

What is your name?amit

In [140]:
num1 = int(input("Enter 1st num"))
num2 = int(input())

Enter 1st num12
22

In [144]:
name = input('What is your name ?')
print("Welcome", name)

What is your name ?  nikita
Welcome   nikita

In [149]:
age = input('What is your age?')
print("You have entered age as ", age)
print("Type : " , type(age))

What is your age?20
You have entered age as  20
Type :  <class 'str'>

In [152]:
salary = input('What is your salary?')
modified_salary = float(salary)
print("You have entered salary as ", modified_salary)
print("Type : " , type(modified_salary))

What is your salary?20000
You have entered salary as  20000.0
Type :  <class 'float'>

In [156]:
my_age = eval(input('What is your age?\n'))
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
20
You have entered age as  20
Type :  <class 'int'>

In [158]:
my_salary = eval(input('What is your salary?\n'))
print("You have entered salary as ", my_salary)
print("Type : " , type(my_salary))

What is your salary?
"salary"
You have entered salary as  salary
Type :  <class 'str'>

In [162]:
my_total_marks = eval(input('Enter your marks\n')) #Enter an expression like 23 + 34 + 45 
print("You have entered age as ", my_total_marks)

Enter your marks
20+ 20+20-40
You have entered age as  20

In [163]:
#Try it here
ask_num = eval(input('Enter the number : '))
sq_num = ask_num * ask_num
cub_num = pow(ask_num,3)

print('Square of ' + str(ask_num) + ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 10
Square of 10 is :  100
Cube of 10 is :  1000

In [166]:
ask_num = eval(input('Enter the number : '))
sq_num = ask_num **2
cub_num = ask_num **3

print('Square of ' + str(ask_num) + ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 30
Square of 30 is :  900
Cube of 30 is :  27000

In [169]:
#Try it here
num1 = eval(input('Enter 1st Number : '))
num2 = eval(input('Enter 2nd Number : '))
num3 = eval(input('Enter 3rd Number : '))
multi = num1 * num2 *num3

total = num1 + num2 + num3

avg = total/3

print("Numbers entered are : " + str(num1) + " " +str(num2) + " " + str(num3) + 
      " and their totals are : " + str(total) + " and avg is : " + str(avg) +
     " and their multiplication : " + str(multi))

Enter 1st Number : 10
Enter 2nd Number : 20
Enter 3rd Number : 30
Numbers entered are : 10 20 30 and their totals are : 60 and avg is : 20.0 and their multiplication : 6000

In [171]:
#Try it here
basic_sal = eval(input('Enter basic salary: '))

hra = 0.1 * basic_sal

conv_allw = 3500

total_sal = basic_sal + hra + conv_allw


print("HRA Components : ", str(hra))
print("Conveyance  Allowance : " , str(conv_allw))
print("Total Salary : " ,str(total_sal))

Enter basic salary: 5000
HRA Components :  500.0
Conveyance  Allowance :  3500
Total Salary :  9000.0